{% load static %}

<html>
    <head>
        <title>Cat Asteroid</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css" />
        <link href="https://fonts.googleapis.com/css?family=Noto+Serif+KR&display=swap" rel="stylesheet">
        <script src="{% static 'js/nav.js' %}" type="text/javascript" async></script>
        <script src="{% static 'js/paintApp.js' %}" type="text/javascript" async></script>
    </head>
    <body>
      <div class="page-header">
          {% if user.is_authenticated %}
              <div class="top-menu">
                  <a href="{% url 'logout' %}" class="topButton">Log out</a>
                  <span class="topButton" style="color: rgb(147,112,219)">Hello {{ user.username }}!</span>
              </div>
          {% else %}
              <div class="top-menu">
                <a href="{% url 'signup' %}" class="topButton">Sign up</a>
                <a href="{% url 'login' %}" class="topButton">Log in</a>
              </div>
          {% endif %}
      </div>
      <span class="navbar-toggle" id="js-navbar-toggle">
          <i class="fas fa-bars"></i>
      </span>
      <div id="mySidenav" class="navbar">
        <a href="javascript:void(0)" id="closebtn">&times;</a>
          <a href="">Home</a>
          <a href="/post">Post</a>
          <a href="/art">Art</a>
      </div>
      {% block content %}
      {% endblock %}
    </body>
</html>
