{% load static %}

<html>
    <head>
        <title>Cat Asteroid</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css" />
        <script src="{% static 'js/nav.js' %}" type="text/javascript" async></script>
    </head>
    <body>
      <div id="mySidenav" class="navbar">
        <a href="javascript:void(0)" id="closebtn">&times;</a>
          <a href="">Home</a>
          <a href="#">Blog</a>
          <a href="#">Art</a>
      </div>
      <span class="navbar-toggle" id="js-navbar-toggle">
          <i class="fas fa-bars"></i>
      </span>

    </body>
</html>
