{% extends 'blog/base.html' %}

{% block content %}
<div class="container">
  <div class="post">
      <div class="date">
          {{ post.created_date }}
      </div>
    <h1>{{ post.title }}</h1>
    <p>{{ post.text }}</p>
  </div>
  {% if request.user.is_staff %}
    <button class="blogButton" onclick = "location.href='{% url 'post_edit' pk=post.pk %}'">Edit</button>
  {% else %}
    <button class="blogButton" style="display:none"> </button>
  {% endif %}
</div>
{% endblock %}
