{% extends 'blog/base.html' %}

{% block content %}
<div id="mainContainer" class="container">
  <table class="table table-sm table-hover">
    <thead>
      <tr>
        <th style="width: 20%" scope="col">#</th>
        <th style="width: 50%" scope="col">title</th>
        <th style="width: 30%" scope="col">date</th>
      </tr>
    </thead>
    <tbody>
      {% for post in page_obj %}
        <tr>
          <th scope="row"> {{ post.postId }} </th>
          {% if post.secret == True %}
              {% if request.user.is_staff %}
                <td><a href="{% url 'post_detail' pk=post.pk %}"> {{ post.title }} </td>
              {% else %}
                <td><a href="{% url 'reject' %}"> {{ post.title }} </td>
              {% endif %}
          {% elif post.secret == False %}
              <td><a href="{% url 'post_detail' pk=post.pk %}"> {{ post.title }} </td>
          {% endif %}
          <td style="text-align: center">{{ post.created_date|date:"M d Y" }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

  <div class="pagination">
      {% if page_obj.has_previous %}
          <a href="?page={{ page_obj.previous_page_number }}"> &laquo; </a>
      {% else %} &laquo;
      {% endif %}

      <span class="currentPageNum">{{ page_obj.number }}</span>

      {% if page_obj.has_next %}
          <a href="?page={{ page_obj.next_page_number }}"> &raquo; </a>
      {% else %} &raquo;
      {% endif %}
  </div>
  {% if request.user.is_staff %}
    <button class="blogButton" onclick = "location.href='{% url 'post_new' %}'">New</button>
  {% else %}
    <button class="blogButton" style="display:none"> </button>
  {% endif %}
</div>
{% endblock %}
