body{
  background-image: url(../images/space.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'Josefin Sans', sans-serif;
}

.navbar {
  height: 100%;
  width: 250px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111 !important;
  /* overflow-x: hidden; */
  padding-top: 80px;
  transition: 0.5s;
  display: none;
}

/* The navigation menu links */
.navbar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  color: #818181;
  display: block;
  transition: 0.3s;
  font-size: 25px;
}

/* When you mouse over the navigation links, change their color */
.navbar a:hover {
  color: #f1f1f1;
}

.navbar #closebtn {
  position: absolute;
  top: 0;
  left: 120px;
  font-size: 36px;
  margin-left: 50px;
}

.navbar-toggle {
    position: absolute;
    top: 20px;
    left: 20px;
    cursor: pointer;
    color: rgba(255, 255, 255, 0.8);
    font-size: 24px;
}

.active {
    display: block;
}

.container{
  background-color: white;
  width: 70%;
  margin-top: 30px;
  padding: 30px;
  border-radius: 20px;
  opacity: 95%;
}

#mainContainer{
  height: 500px;
}

.newPostText{
  font-size: 15px;
  font-weight: bold;
  color: rgb(147,112,219);
}

.newButton, .editButton, .saveButton{
  float: right;
  background-color: rgb(147,112,219);
  color: #ffffff;
  border-radius: 5px;
  width: 60px;
  border: none;
}

.postNewButton:hover {
  filter: brightness(90%);
}

table th{
   text-align: center;
}

body a{
  color: black;
}

body a:hover{
  color: #818181;
}

.post{
  padding-left: 15px;
  color: #474242;
}

.post p{
  margin-top: 16px;
}

.post h1{
  margin: 20px 0 20px 0;
}

.date{
  color: rgb(147,112,219);
  font-size: 15px;
  font-weight: 550;
}

/* background-color: #8EC5FC;
background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%); */


/* On smaller screens, where height is less than 450px, change the style of the navbar (less padding and a smaller font size) */
/* @media screen and (max-height: 450px) {
  .navbar {padding-top: 15px;}
  .navbar a {font-size: 18px;}
} */
